<p>
  tabs-test works!
</p>

<div>
  <md-card>
    <md-card-content>


      <!--UI之间切换-->
      <md-tab-group>
        <md-tab label="One">
          <h1>Some tab content</h1>
          <p>...</p>
        </md-tab>
        <md-tab label="Two">
          <h1>Some more tab content</h1>
          <p>...</p>
        </md-tab>
      </md-tab-group>

      <!--路由之间切换-->
      <!--<nav md-tab-nav-bar>-->
        <!--<a md-tab-link-->
           <!--*ngFor="let link of navLinks"-->
           <!--[routerLink]="link"-->
           <!--routerLinkActive #rla="routerLinkActive"-->
           <!--[active]="rla.isActive">-->
          <!--{{tabLink.label}}-->
        <!--</a>-->
      <!--</nav>-->
      <!--<router-outlet></router-outlet>-->

    </md-card-content>
  </md-card>
</div>
