@import "work/work-app-main/work-app-main.component.css";

/*CSS实现div的全屏自适应显示*/
.work-app-map {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0pt;
  left: 0pt;
  top: 0pt;
  bottom: 0pt;
  z-index: 0;
  overflow: hidden;
  word-break: break-all;
}

.work-app-map-back {
  background:#f0f0f0;
  position: absolute;
  right: 0pt;
  left: 0pt;
  top: 0pt;
  bottom: 0pt;
}

.work-app-header {
  height: auto;
  width: 100%;
  background-color: #3366CC;
}

.work-app-header md-icon
{
  margin-right: 9.6pt;
}
.work-app-header a
{
  color: white;
}
.work-app-header a:active
{
  color: white;
}

.work-app-map-login {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0pt;
  left: 0pt;
  top: 0pt;
  bottom: 0pt;
  z-index: 0;
  overflow: hidden;
  word-break: break-all;
}
.work-app-map-login-div {
  height: 100%;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.example-card-onlyforpc {
  width: 300pt;
  height: 400pt;
  max-width: 300pt;
  max-height: 600pt;
}

.example-card {
  min-width: 300px;
  max-width: 500px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 9.6pt;
}

.example-button-full-width {
  width: 100%;
}

.example-md-48{
  width: 48pt;
  height: 48pt;
}
