<p>
  toolbar-test works!
</p>


<div>
  <md-card>
    <md-card-content>
      <md-toolbar color="primary">
        <span>Custom Toolbar</span>

        <md-toolbar-row>
          <span>Second Line</span>
          <span class="example-spacer"></span>
          <md-icon class="example-icon">verified_user</md-icon>
        </md-toolbar-row>

        <md-toolbar-row>
          <span>Third Line</span>
          <span class="example-spacer"></span>
          <md-icon class="example-icon">favorite</md-icon>
          <md-icon class="example-icon">delete</md-icon>
        </md-toolbar-row>

        <md-toolbar-row>
          <span>Four Line</span>
          <button md-button (click)="onClick" class="example-button">Action</button>
          <button md-button (click)="onClick" class="example-button">Action</button>
          <button md-button (click)="onClick" class="example-button">Action</button>
          <button md-button (click)="onClick" class="example-button">Action</button>
        </md-toolbar-row>

      </md-toolbar>

    </md-card-content>
  </md-card>
</div>
